maven/target
maven/dependency-reduced-pom.xml
node/node_modules
gradle/.gradle/
gradle/bin/
gradle/build/
gradle/dependency-reduced-pom.xml
python/**/__pycache__
python/*.pyc
python/.coverage
python/dist/
python/.venv
scala/.cache
scala/.history
scala/.lib/
scala/dist/*
scala/project/boot/
scala/.scala_dependencies
scala/.worksheet
scala/**/target
scala/target
scala/boot
rust/target

# Others
.classpath
.project
.settings/
.vscode

dependency-check-report.*
dependency-check-junit.xml